body{
    font-size: 13px;
}
.container{
    text-align: center;
    margin-top: 40px;
}

.form-group{
    margin-top: 20px;
}

#step_2, #modal_footer{
    display: none;
}

#bots {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#bots td, #bots th {
    border: 1px solid #ddd;
    padding: 8px;
}

#bots tr:nth-child(even){background-color: #f2f2f2;}
#bots tr:nth-child(odd){background-color: #fff;}

#bots tr:hover {background-color: #ddd;}

#bots th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
.modal-header{
    min-width: 500px;
}

.btn{
    outline: none !important;
}

.checkbox_blocks{
    height: 2.69em;
}

.tickers span{
    font-weight: bold;
}

#menu1,#menu2, #menu3, #menu4, #menu5{
    max-width: 84vw;
    overflow-x: auto;
}



#open_tbody_checkbox{
    position: absolute;
    left: 9px;
    top: 61px;
}

.circle {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}

.red{
    background-color: red;
}

.red-icon{
    color: red;
    font-size: 16px;
    padding: 3px;
}
.green-icon{
    color: #44d444;
    font-size: 16px;
    padding: 3px;
}
.green{
    background-color: #44d444;
}
.out-of{
    float: left;
    margin-top: 6px;
}
.modal-dialog {
    display: table;
}

.bots td, .bots th {
    border: 1px solid #ddd;
    padding: 8px;
}

.bots tr:nth-child(even){background-color: #f2f2f2;}

.out{
    color: red;
    font-size: 16px;
    padding-right: 21px;
    font-weight: 600;
    margin-right: 20px;
    
    position: relative;
    top: 6px;
}

.acc_options{
    background-color: #4caf50;
    border: #4caf50;
    outline: none;
    cursor: pointer;
    width: 90px;
}

.check_light{
    display: flex;
}
.check_light span{
    margin-left: 6px;
}

.filter-input{
    width: 49%;
    display: inline-block;
}

#waiting{
    background-color: #212929;
    z-index: 9999;
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    cursor: wait;
}
#close_position{
    margin-top: 15px;
}

/*dark mode*/
.darkSwitch {
    /*background: #18191f;*/
    color: cornflowerblue;
    background-color: #18191f;

}
.lightSwitch {
    /*background: #fff;*/
    background-color: #d2dde6;
}

.lightSwitch .theme_switch {
    color: #518cc4;
}
.darkSwitch .theme_switch {
    color: #fabe00;
}
.darkSwitch #bots th .acc_options{
    background-color: #18191f;
    border: #18191f;
}
.darkSwitch #bots th {
    background-color: #18191f;
    color: #518cc4;
}
.darkSwitch #bots tr:nth-child(even) {
    background-color: #323344;
}
.darkSwitch .bots tr:nth-child(even) {
    background-color: #323344;
}

.darkSwitch #bots tr:nth-child(odd) {
    background-color: #18191f;
}
.darkSwitch #bots tr:hover {
    background-color: #4b4d6d;
}

.theme_switch {
    display: inline-block;
    padding: 0 0 0 20px;
    font-size: 24px;
    cursor: pointer;
    margin-top: 10px;
}

.darkSwitch .btn-info,
.darkSwitch .btn-success,
.darkSwitch .btn-primary,
.darkSwitch .btn-default,
.darkSwitch .btn-secondary,
.darkSwitch .btn-danger{
    background-color: #3d5f85;
    background-image: none;
    border: none;
    color: #c9d6e4;
    /*color: #fff;*/
}

.darkSwitch .btn-danger{
    background-color: #844141;
    /*background-image: none;*/
    /*border: none;*/
    /*color: #c9d6e4;*/
}
.darkSwitch #bots td, .darkSwitch #bots th {
    border: 1px solid #4c506d;
}

.darkSwitch .navbar-default{
    background-color: #36446f;
    border-color: #36446f;
    background-image: none;

}

.darkSwitch .modal-content {
    background-color: #36446f;
}
.darkSwitch .form-control {
    background-color: #4b526f;
    border: 1px solid #36446f;
    color: #4e8cd2;

}
.darkSwitch .navbar-default .navbar-nav>li>a:focus,.darkSwitch .navbar-default .navbar-nav>li>a:hover {
    color: #4e8cd2;
    background-color: transparent;
}

.darkSwitch .nav-tabs>li.active>a,.darkSwitch .nav-tabs>li.active>a:focus,.darkSwitch .nav-tabs>li.active>a:hover {
    color: #80a5d2;
    cursor: default;
    background-color: #36446f;
    border: 1px solid #4c506d;
    border-bottom-color: transparent;
}

.darkSwitch .nav-tabs>li>a:hover {
    border-color: #4c506d #4c506d #36446f;
}

.darkSwitch .modal-header, .darkSwitch .modal-footer {
    border-bottom: 1px solid #4c506d;
}

.darkSwitch hr{
    border-top: 1px solid #4c506d;
}
.darkSwitch .nav>li>a:focus,.darkSwitch .nav>li>a:hover {
    text-decoration: none;
    background-color: #36446f;
    color: #80a5d2;
}
.darkSwitch .nav-tabs {
    border-bottom: 1px solid #4c506d;
}
.darkSwitch .bots td,.darkSwitch .bots th {
    border: 1px solid #4c506d;
    padding: 8px;
}



.darkSwitch ::-webkit-scrollbar
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: rgba(170, 219, 240, 0.46);
    border-radius: 3px;
}

.darkSwitch .green{
    background-color: #4aad84;
}
.darkSwitch .red{
    background-color: #844141;
}

.darkSwitch .green-icon{
    color: #4aad84;
}
.darkSwitch .red-icon{
    color: #844141;
}
.darkSwitch ::-webkit-scrollbar
{
    width: 10px;
    background-color: #262b75;
}
.bg {
    background: url(/bg_blue.png)no-repeat 0% 100%;
    background-size: cover;
    position: fixed;
    bottom: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
}
body.darkSwitch .bg {
    background: url(/bg_blueh.png)no-repeat 0% 100%;
    background-size: cover;
    position: fixed;
    bottom: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
}

#Balance_table tr, #order_table tr {
    background-color: #fff;
}
#Balance_table .th, #order_table .th {
    background-color: #f2f2f2;
}
body.darkSwitch #order_table tr {
    background-color: #36446f;
}
body.darkSwitch .navbar a {
    color: #6495ed;
}
body.darkSwitch #Balance_table tr {
    background-color: #36446f;
}
body.darkSwitch #Balance_table .th,body.darkSwitch #order_table .th {
    background-color: #31375f;
    /*background-color: #323344;*/
}
/*end dark mode*/

/*Switcher styles*/

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}

body.darkSwitch .material-switch > label::after {
    background: rgb(81, 139, 226);
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.butt_block {
    margin-top: 10px;
}
.material-switch {
    padding: 7px 12px;
}
/*end Switcher styles*/

.loader_block{
    width: 90%;
    position: absolute;
}

.loader_block i{
    margin: 0 50%;
    padding: 7px 0;
}


/*.pencil{*/
    /*position: relative;*/
    /*bottom: 2em;*/
    /*left: 90%;*/
    /*cursor: pointer;*/
/*}*/

/*.isRevaluatedPrice-QUOTE, .switch-check-input-BASE{*/
    /*border: solid 1px cornflowerblue;*/
/*}*/


.isRev-QUOTE, .isRev-BASE{
    cursor: pointer;
}

#revInput_BASE, #revInput_QUOTE {
    padding-left: 4px;
}

/*.snow_img{*/
    /*position: absolute;*/
    /*z-index: 1;*/
    /*background-size: contain;*/
    /*display: block;*/
    /*background-repeat: no-repeat;*/
/*}*/
/*.snowman_img{*/
    /*position: absolute;*/
    /*z-index: 1;*/
    /*background-size: contain;*/
    /*display: block;*/
    /*background-repeat: no-repeat;*/

    /*height: 375px;*/
    /*background-image: url(/img/2s.png);*/
    /*width: 246px;*/
    /*right: 0%;*/
    /*bottom: 10px;*/
/*}*/
/*.darkSwitch .snowman_img {*/
    /*background-image: url(/img/2s_b.png);*/

/*}*/
/*.darkSwitch .navbar-default .container-fluid{*/
    /*background-image: url(/slider.jpg);*/
    /*background-size: contain;*/
/*}*/
/*.darkSwitch .create_img{*/
    /*background-image: linear-gradient(rgb(24, 25, 31, 0.2), rgb(24, 25, 31,0.1)),url(/img/1112.png);*/
/*}*/

/*.button_img{*/
    /*display: none;*/
/*}*/

/*@media screen and (max-width: 1200px) {*/
    /*.snow_img {*/
        /*display: none;*/
    /*}*/
/*}*/
/*@media screen and (max-width: 1600px) {*/
    /*.snowman_img {*/
        /*display: none;*/
    /*}*/
/*}*/

.coin_img{
    display: inline-flex;
    height: 21px;
    width: 21px;
    padding-left: 22px;
    position: relative;
    z-index: 1;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
}